%div{id: dom_id(setup)}
  %p
    %strong Type:
    = setup.type

  %p
    %strong User:
    = setup.user_id

  %p
    %strong Shortlisted instruments:
    = setup.shortlisted_instruments

  %p
    %strong Active:
    = setup.active

  %p
    %strong Trades per day:
    = setup.trades_per_day

