%p{style: "color: green"}= notice

- content_for :title, "Setups"

.card
  .card-header
    .d-flex.justify-content-between.align-items-center
      %h1.mb-0 Trading Setups
      = link_to new_setup_path, class: "btn btn-primary" do
        %i.fas.fa-plus.me-2
        New Setup
  .card-body
    - if @setups.empty?
      %p.text-muted No setups found.
    - else
      %div{id: "setups"}
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th Strategy Type
                %th Status
                %th Trades Per Day
                %th Shortlisted Instruments
                %th Actions
            %tbody
              - @setups.each do |setup|
                %tr
                  %td
                    %strong= setup.name
                  %td
                    - if setup.active
                      %span.badge.bg-success Active
                    - else
                      %span.badge.bg-secondary Inactive
                  %td.text-center= setup.trades_per_day || "N/A"
                  %td= "All"
                  %td
                    = link_to "Show", setup, class: "btn btn-sm btn-info me-1"
                    = link_to "Edit", edit_setup_path(setup), class: "btn btn-sm btn-warning"
