%p{style: "color: green"}= notice

- content_for :title, "Screeners"

.card
  .card-header
    .d-flex.justify-content-between.align-items-center
      %h1.mb-0 Screeners
      = link_to new_screener_path, class: "btn btn-primary" do
        %i.fas.fa-plus.me-2
        New Screener
  .card-body
    - if @screeners.empty?
      %p.text-muted No screeners found.
    - else
      %div{id: "screeners"}
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th Strategy Type
                %th Status
                %th Actions
            %tbody
              - @screeners.each do |screener|
                %tr
                  %td
                    %strong
                      = link_to screener.name, screener
                  %td
                    - if screener.active
                      %span.badge.bg-success Active
                    - else
                      %span.badge.bg-secondary Inactive
                  %td
                    = link_to "Edit", edit_screener_path(screener), class: "btn btn-sm btn-warning me-1"
                    = link_to "Destroy", screener, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger"
